#---------------------------------
# CONFIG
#---------------------------------

pipeline_id: radpipe

# The directory the pipeline will write files.
results_dir: results/

# The reference genome in FASTA format.
reference_genome: ref/mppdraft3.fa

# Sequencing data
# Each sequencing run / library should be in its own directory. In each
# directory, there should be two Illumina sequncing read files in *fastq.gz
# format (R1 and R2) and a text file containing barcodes in the format that
# process_radtags accepts. FASTQ filenames should be unique.
# Note that the directory name will be used as the read group ID for when
# performing alignment.
libraries:
    lib_01:
        lib_dir: data/lib_01
        r1: BparvusLib1_S1_R1_001.fastq.gz
        r2: BparvusLib1_S1_R2_001.fastq.gz
        barcodes: lib1_barcode.txt
    lib_02:
        lib_dir: data/lib_02
        r1: BparvusLib2_S2_R1_001.fastq.gz
        r2: BparvusLib2_S2_R2_001.fastq.gz
        barcodes: lib2_barcode.txt
    lib_03:
        lib_dir: data/2017-08-29_Burramys_MtBuller_RADSeq_Lib3
        r1: BparvusLib3_S3_R1_001.fastq.gz
        r2: BparvusLib3_S3_R2_001.fastq.gz
        barcodes: lib3_barcode.txt

#---------------------------------
# PROCESS RADTAG OPTIONS
#---------------------------------

# The two restriction enzymes used.
renz_1: sphI
renz_2: mluCI

# Additional process_radtag options
# http://catchenlab.life.illinois.edu/stacks/comp/process_radtags.php
process_radtags_options: "-t 60 -c -q -r -s 10"

#---------------------------------
# ALIGNMENT OPTIONS
#---------------------------------

# Which program to use for alignment. Choose from [bowtie, bwa mem]
alignment_method: bwa mem

# Additional alignment options
# bwa mem: http://bio-bwa.sourceforge.net/bwa.shtml
alignment_options: "-a"
# bowtie: http://bowtie-bio.sourceforge.net/manual.shtml
# alignment_options: "-v 3 --tryhard --best"

#---------------------------------
# STACKS POPULATIONS OPTIONS
#---------------------------------

# Analysis ID
# If you plan to run multiple populations runs with different popmap files, give
# each run a different name, which will create new directories in the results
# directory instead of overwriting them
analysis_id: analysis_v1

# Custom popmap file
# If this is left blank, the pipeline will create a popmap file with all samples
# in the same population group. Note that this is for stacks populations
# only (gstacks will use all available samples)
# popmap_file: test_popmap.txt

# Values of r for which Stacks populations will run. A new directory will
# be created for each run
populations_r:
  - 0.5
  - 0.75
  - 0.8

# Extra options for populations. Note that the --vcf option will be
# automatically included when running the pipeline.
# http://catchenlab.life.illinois.edu/stacks/comp/populations.php
populations_options: "--min_maf 0.05 --write_random_snp --hwe --fstats"


#---------------------------------
# PIPELINE CONFIG
#---------------------------------

# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.

defaults:
    # Number of CPU cores to use for the task
    cores: 1
    # Maximum memory in gigabytes for a cluster job
    mem: 4
    # VLSCI account for quota
    #account: VR0002
    queue: main
    # Maximum allowed running time on the cluster in Hours:Minutes
    walltime: '1:00'
    # Load modules for running a command on the cluster.
    modules:
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: False

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:
    fastqc:
        cores: 1
        walltime: '1:00'
        mem: 4
    process_radtags:
        cores: 1
        walltime: '8:00'
        mem: 4
    build_index:
        cores: 4
        walltime: '8:00'
        mem: 16
    alignment:
        cores: 2
        walltime: '8:00'
        mem: 8
    sort_bam:
        cores: 1
        walltime: '4:00'
        mem: 4
    gstacks:
        cores: 8
        walltime: '24:00'
        mem: 32
    populations:
        cores: 4
        walltime: '24:00'
        mem: 8
